.coin_search {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    width: 50%;

}

.coin_input {
    background: #222531;
    color:antiquewhite;
    border: none;
    padding: 1rem;
    border-radius: .4rem;
    outline: none;
    height: 100%;
    width: 100%;
}

.coin_input::placeholder {
    color: white;
}